<%= form_with(model: trip) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-input' %>
  </div>

  <div class="field">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-input' %>
  </div>

  <div class="field">
    <%= form.label :start_date, class: 'form-label' %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date, class: 'form-label' %>
    <%= form.date_select :end_date %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
