<h3 class="text-4xl my-3 font-extrabold text-center"><%= @casino.name %></h3>

<div class="w-2/3 mx-auto">
  <div class="w-4/5 md:w-max mr-auto border-2 border-gray-700 rounded-md flex flex-row items-center">
    <div class="bg-gray-200">
      <%= image_tag @weather.icon, width: "75", height: "75", class: 'border overflow-hidden' %>
    </div>
    <div class="px-2 text-3xl font-medium antialiased">
      <%= @weather.temperature.ceil %>°C <span class="text-xl font-normal">in <%= @casino.city %></span>
    </div>
    <div class="px-4 ml-auto text-lg">
      <%= link_to "Forecast", "https://www.google.com/search?q=weather+" + @casino.city + '+' + @casino.state, target: '_blank', class: 'btn btn-outline-black' %>
    </div>
  </div>

  <div class="mx-auto w-1/2 md:w-2/5 my-3 flex flex-row justify-around">
    <%= link_to "Edit Casino", edit_casino_path(@casino), class: 'btn btn-outline-black mr-2' %>
    <%= link_to "Delete Casino", @casino, method: :delete, class: 'btn btn-secondary', data: { confirm: 'Are you sure?' } %>
  </div>
</div>