<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div class="alert">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-col md:flex-row">
    <div class="flex flex-col mx-auto md:p-2 w-4/5 md:w-1/3">
      <div class="form-div">
        <%= form.label :trip, class: 'form-label' %>
        <%= form.collection_select :trip_id, @trips, :id, :name, { prompt: "Select a trip, if applicable" }, { class: 'form-input bg-white' } %>
      </div>

      <div class="form-div">
        <%= form.label :casino, class: 'form-label' %>
        <%= form.collection_select :casino_id, @casinos, :id, :name, { prompt: true }, { class: 'form-input bg-white' } %>
        <%= link_to "Casino not listed? Add a new casino", new_casino_path, class: 'text-sm text-blue-400' %>
      </div>
      <div>
        
      </div>

      <div class="form-datetime-div">
        <%= form.label :date, class: 'form-label pr-4' %>
        <%= form.date_select :date, class: 'form-input' %>
      </div>

      <div class="flex flex-row">
        <div class="form-div pr-2 w-1/2">
          <%= form.label :currency, class: 'form-label' %>
          <%= form.collection_select :currency_id, @currencies, :id, :code, { prompt: true }, { class: 'form-input bg-white' } %>
        </div>

        <div class="form-div pl-2 w-1/2">
          <%= form.label :odds, class: 'form-label' %>
          <%= form.collection_select :odds_id, @odds, :id, :name, { prompt: true }, { class: 'form-input bg-white' } %>
        </div>
      </div>

      <div class="flex flex-row">
        <div class="form-div pr-2 w-1/2">
          <%= form.label :buy_in, class: 'form-label' %>
          <%= form.number_field :buy_in, class: 'form-input' %>
        </div>

        <div class="form-div pl-2 w-1/2">
          <%= form.label :cash_out, class: 'form-label' %>
          <%= form.number_field :cash_out, class: 'form-input' %>
        </div>
      </div>
      <div class="actions">
        <%= form.submit "Add Session", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
