<p>
  <strong>Player:</strong>
  <%= @game.user.first_name %> <%= @game.user.last_name %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @game.trip.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Buy in:</strong>
  $<%= @game.buy_in %>
</p>

<p>
  <strong>Cash out:</strong>
  $<%= @game.cash_out %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
